<div class="container" style="padding-top: 200px; padding-bottom: 225px;">
    <div class="row">
        <div class="col-md-4">
            <div>
                <h2>Contact Us</h2>
                <h5>Company Name : {{cname|uppercase}}</h5>
                <h6>HR Name : {{hrname|uppercase}}</h6>
                <h6>Email : {{email|lowercase}}</h6>
                <h6>Address : {{address|titlecase}}</h6>
            </div>
        </div>
        
        <div class="col-md-8"></div>
        
    </div>
</div>